<section class='modal-card-body'>

<%= simple_form_for note do |f| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
        <% note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, class: 'label' %>
    <div class="control">
      <%= f.text_field :title, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :content, class: 'label' %>
    <div class="control">
      <%= f.rich_text_area :content, class: 'textarea' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :tags, class: 'label' %>
    <%= f.association :tags, as: :check_boxes, label: false %>
  </div>
</section>

<footer class='modal-card-foot'>
  <div class="actions">
    <%= f.submit 'Save Note', class: 'button is-success' %>
  </div>
<footer>
<% end %>
