<% unless @notes.empty? %>

  <div class="notes">
  <% @notes.each do |note| %>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          <%= note.title %>
        </p>
          <%= link_to 'ðŸ–', edit_note_path(note), class: 'card-header-icon' %>
          <%= link_to 'ðŸ—‘', note, method: :delete, class: 'card-header-icon' %>
      </header>
      <div class="card-content">
        <div class="content">
          <%= note.content %>
        </div>
      </div>
      <% unless note.tags.empty? %>
        <footer class="card-footer">
          <% note.tags.each do |tag| %>
            <%= link_to tag.name, tag, class: 'card-footer-item', style: ('color: ' + tag.hex_color )%>
          <% end %>
        </footer>
      <% end %>
    </div>
  <% end %>
  </div>

<% else %>
  <p>You don't have notes</p>
<% end %>

<button class="button is-primary" onClick={openModal('notes/1/edit')}>Launch card modal</button>
