<%= simple_form_for tag do |f| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
        <% tag.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: 'label' %>
    <div class="control">
      <%= f.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <label class="label">Hex color</label>
    <%= f.input :hex_color, class: 'textarea', label: false %>
  </div>

  <div class="actions">
    <%= f.submit 'Save', class: 'button is-primary' %>
  </div>
<% end %>
