<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to 'Notepad', notes_path, class: 'navbar-item'%>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>


  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link current">
          Tags
        </a>

        <div class="navbar-dropdown">
          <% @tags.each do |tag| %>
            <%= link_to tag.name, tag, class: 'navbar-item' %>
          <% end %>
          <hr class="navbar-divider">
          <%= link_to 'Create', new_tag_path, class: 'navbar-item' %>
          <%= link_to 'Manager', tags_path, class: 'navbar-item' %>
        </div>
      </div>
    </div>

    <p id="notice"><%= notice %></p>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" placeholder="Find">
            <span class="icon is-small is-left">
              <i class="fas fa-search"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <%= link_to 'New Tag', new_tag_path, class: 'button is-primary' %>
        </div>
      </div>
    </div>
  </div>
</nav>